#domains {
	margin-top: 50px;
	text-align: center;
}

#domains a {
	padding: 0px 10px;
}

#result > #planks > .row {
	margin: 0px;
	position: relative;
}

#result > #planks > .row > span {
	left: -55px;
	margin: 0px;
	margin-top: 1px;
	padding: 0px;
	position: absolute;
	text-align: right;
	width: 50px;
}

#result > #planks > .row > div {
	background-color: #936639;
	color: #FFFFFF;
	height: 30px;
	overflow: hidden;
	padding: 0px;
	text-overflow: ellipsis;
	white-space: nowrap;
}

#result > #planks > .row:nth-of-type(2n+1) > div {
	background-color: #7F4F24;
}

#result > #planks > .row > div > span {
	padding: 0px 10px;
}

#result > .table {
	width: auto;
}